html {
  font-size: 62.5%;
  height: 100%; }

body {
  background-color: #fff9f2;
  font-family: Helvetica Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  min-height: 100%;
  padding: 0; }

* {
  box-sizing: border-box; }

a {
  color: #ff5e6d; }

.container {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

header {
  padding-top: 3rem;
  text-align: center; }
  @media (min-width: 768px) {
    header {
      padding-top: 4rem; } }
  header .logo {
    width: 95%; }
    @media (min-width: 768px) {
      header .logo {
        width: 70%; } }
    @media (min-width: 1024px) {
      header .logo {
        width: 50%; } }
  header h3 {
    font-size: 1.8rem;
    margin: 1.5rem 3rem 0.5rem; }
    @media (min-width: 480px) {
      header h3 {
        font-size: 2rem;
        margin-left: auto;
        margin-right: auto; } }
    @media (min-width: 768px) {
      header h3 {
        font-size: 2.5rem;
        margin-top: 2rem;
        max-width: 80%; } }
    @media (min-width: 1024px) {
      header h3 {
        max-width: 60%; } }

.logos {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .logos > div {
    padding: 5vh 1vh;
    text-align: center;
    width: 100%; }
    @media (min-width: 768px) {
      .logos > div {
        width: 50%; } }
    @media (min-width: 1024px) {
      .logos > div {
        width: 33.3333%; } }
    .logos > div img {
      display: block;
      margin: 0 auto;
      max-width: 100%; }

footer {
  border-top: 1px solid #ccc;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -1.5rem;
  padding: 1.5rem; }
